@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Playfair+Display:wght@700&display=swap');

$main-bg: #ffffff;
$soft-bg: #eef0f2;
$dark-bg: #dadee1;

$dark-color: #1b1f24;
$main-color: #414141;
$soft-color: #b1b1b1;

@mixin below-screen($screen-size){
    @media (max-width: $screen-size){
        @content;
    }
}

@mixin flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin font-playfair{
    font-family: 'Playfair Display', serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing:  border-box;
}

body{
    font-family: 'Fira Sans', sans-serif;
}

.outer-container{
    width: 100%;
    min-height: 100vh;
    // max-width: 1400px;

    background-color: $dark-color;

    @include flex-center();

    .grid-container{
        width: 100%;
        max-width: 1024px;
        height: 85vh;

        display: grid;
        grid-template-columns: 400px auto;
        overflow-y: hidden;

        @include below-screen(1000px){
            width: 85%;
            grid-template-columns: 300px auto;
        }

        @include below-screen(870px){
            width: 95%;
            grid-template-columns: 1fr;
            height: fit-content;
        }

        .summary{
            background-color: $main-bg;
            padding: 2rem;

            @include below-screen(870px){
                border-radius: 0.5rem 0.5rem 0 0;
                margin-top: 2rem;
            }

            form{
                display: grid;
                grid-template-columns: auto 3rem;
                gap: 1rem;
                background-color: $soft-bg;
                border: 2px solid $dark-bg;
                padding: 0.5rem;
                border-radius: 2rem;

                button{
                    width: 100%;
                    border: none;
                    outline: none;
                    background-color: transparent;
                    @include flex-center();
                    padding: 0.25rem;
                    cursor: pointer;

                    img{
                        width: 1.5rem;
                        height: 1.5rem;
                    }
                }

                input[type="text"]{
                    background-color: transparent;
                    border: none;
                    outline: none;
                    font-size: 1.25rem;
                    padding: 0.5rem;
                    width: 100%;
                }
            }

            img#weather-image{
                max-width: 3rem;
                max-height: 3rem;
                margin: 2rem auto;
                display: block;
            }

            p.temperature{
                margin-top: 1.5rem;
                text-align: center;

                .figure{
                    line-height: 0;
                    font-size: 6rem;
                    font-weight: bold;
                    @include font-playfair();
                    color: $dark-color
                }

                .degree{
                    font-size: 1rem;
                    transform: translateY(-3rem);
                    display: inline-block;
                }

                .unit{
                    font-size: 2.5rem;
                    transform: translateY(-1.5rem);
                    display: inline-block;
                }
            }

            span.description{
                margin-top: 0.75rem;
                text-align: center;
                font-size: 0.85rem;
                display: block;
                color: $soft-color;
                margin-bottom: 1.5rem;
            }

            .local-time{
                color: $main-color;
                font-size: 1rem;
                text-align: center;
                margin-bottom: 1.5rem;
            }


            .location{
                font-size: 1.5rem;
                font-weight: bold;
                @include font-playfair();
                line-height: 1.5;
                text-align: center;
                color: $main-color;
            }
        }

        .details{
            padding: 2rem;
            background-color: $soft-bg;
            overflow: auto;

            @include below-screen(870px){
                border-radius: 0 0 0.5rem 0.5rem;
                margin-bottom: 2rem;
            }

            .intro {
                font-size: 1.5rem;
                @include font-playfair();
                color: $main-color;
                margin-bottom: 1rem;

                @include below-screen(870px){
                    text-align: center;
                }
            }

            .inner-grid{
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 2rem;

                @include below-screen(870px){
                    grid-template-columns: repeat(2, 1fr);
                }

                @include below-screen(480px){
                    grid-template-columns: repeat(1, 1fr);
                }

                .single{
                    background-color: $main-bg;
                    width: 100%;
                    border-radius: 1.25rem;
                    padding: 1rem;
                    color: $main-color;
                    box-shadow: 0px 0px 30px 0px rgba($color: $main-color, $alpha: 0.2);

                    .title{
                        word-break: break-all;
                        margin-bottom: 1.25rem;
                        font-size: 0.85rem;
                    }

                    .value{
                        font-size: 3rem;
                        @include font-playfair();
                        margin-bottom: 2rem;
                        line-height: 0;
                    }

                    .third{
                        @extend .title;
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}